:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square > div {
  margin-top: -1.7em;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.product-detail__add {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Space between buttons */
}

#addToCart,
#addToWishlist {
  padding: 10px 20px; /* Add some padding */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
  font-size: 16px; /* Font size */
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}

.cart:hover svg {
  fill: gray;
}

.cart-count {
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50%;
  padding: 4px 4px;
  position: absolute;
  top: 10px;
  right: 19px;
}

/* End cart icon styles */

.bread-crumbs {
  padding: 10px;
  font-family: sans-serif;
}

.crumb {
  display: inline-block;
}

.crumb:not(:last-of-type)::after {
  content: ">";
  margin: 0 5px;
  color: #f0a868;
}

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}

.products {
  padding: 0.5em;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}

.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

/******** cart total display *****/
.cart-footer {
  display: none;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  margin: 1rem;
}

.price-total {
  font-weight: bold;
  text-align: inherit;
  font-size: larger;
}

.remove-button {
  grid-row: 1;
  grid-column: 4;
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
  font-size: 17px;
}

/*made a grid for the src/index.html product icons*/
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 4rem;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.product-container img {
  width: 100%;
  height: auto;
}

.product-container p {
  text-align: center;
  margin-top: 0;
}

.product-container a {
  text-decoration: none;
  color: var(--dark-grey);
}

.product-container a:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

.prod-cat {
  font-variant: small-caps;
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: underline;
}

/*Added colors to the discount*/
.discount-price-p {
  color: var(--secondary-color);
}

.discount-price-span {
  color: red;
}

/*Added styling to the total amount for cart items*/
.total-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid var(--light-grey);
  background-color: var(--light-grey);
  border-radius: 10px;
  font-size: 1.5rem;
}

.total-p {
  font-weight: bold;
  color: var(--secondary-color);
}

/*Added styling to qty input*/
.qty-input {
  width: 50px;
  padding: 5px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  display: block;
}

.qty-input:invalid {
  border: 1px solid red;
}

.cart-card__quantity {
  display: block;
}

/* search button and search box */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#searchInput {
  margin-right: 5px;
  padding: 1em 2em;
}

/* added styling to checkout button */
.checkout-container {
  display: flex;
  justify-content: end;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 10px;
  font-size: 1rem;
}
.checkout-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
}
.checkout-button:hover {
  background-color: var(--secondary-color);
}

/* added styles to the checkout form */
#checkout-form-id {
  border: 2px solid var(--light-grey);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  font-size: 1rem;
}
#checkout-form-id label {
  display: block;
  margin: 1rem;
}
#checkout-form-id input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--light-grey);
}
#checkout-form-id button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  width: 100%;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}
#checkout-form-id button:hover {
  background-color: var(--secondary-color);
}
#checkout-form-id fieldset legend {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  border-radius: 20px;
  border-bottom: 2px solid var(--light-grey);
  border-left: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
}
#checkout-form-id fieldset {
  border: 2px solid var(--light-grey);
  margin: 1rem;
  border-radius: 10px;
}

/* added styles to order summary section*/
.order-summary {
  border: 2px solid var(--light-grey);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  font-size: 1rem;
}
.order-total {
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 1.5rem;
}

/*Added styles to success.html*/
.success-footer {
  position: absolute;
  bottom: 1rem;
}
.success-msg {
  font-size: 3rem;
  margin: 0 auto;
  padding: 1rem;
  color: #525b0f;
}

/*Added styles to error alert pop up*/
.alert {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: #f0a868;
}
.alert p,
.alert button {
  background-color: #f0a868;
  color: black;
}
.alert p {
  padding: 0.8rem;
  width: 100%;
}
.alert button:hover {
  background-color: #525b0f;
  color: #d0d0d0;
}
/*Animate backpack cart icon*/
.cart {
  margin-left: 10px;
}
@keyframes iconanimation {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

#cart-icon-id {
  animation: iconanimation 2s infinite alternate;
}

.pop-up-box {
  position: absolute;
  top: 100px;
  z-index: 1;
  border: 2px solid black;
  max-width: 200px;
  margin-left: 20px;
  background-color: #f0a868;
  padding: 10px;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
